li {
  margin: 1%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

@media (max-width: 1148px) {
  ul {
    justify-content: space-evenly;
  }
}
@media (max-width: 360px) {
  ul {
    flex-direction: column;
  }
}
